{% include 'base.html' %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h4 class="">
                    {% if request.path == '/android/'%}
                    Android Apps
                    {% elif request.path == '/windows/' %}
                    Windows Apps
                    {% else%}
                    Console Games
                    {% endif%}
                </h4>

                <div class="border-top border-bottom mb-3 mt-3">
                    <a class="btn dropdown-toggle" data-bs-toggle="offcanvas" href="#offcanvasCategory" role="button"
                       aria-controls="offcanvasExample">
                        {{category}}
                    </a>
                    <a class="btn dropdown-toggle" data-bs-toggle="offcanvas" href="#offcanvasSubCategory" role="button"
                       aria-controls="offcanvasExample">
                        sub categories
                    </a>
                </div>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCategory"
                     aria-labelledby="offcanvasCategoryLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasCategoryLabel">
                            {{category}} categories
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="list-group list-group-flush">
                            <a href="/android/Games"
                               class="list-group-item {% if request.path == '/android/Games'%} active {% endif %}"
                               aria-current="true">Games</a>
                            <a class="list-group-item {% if request.path == '/android/AI'%} active {% endif %}">AI</a>
                            <a href="/android/Browsers"
                               class="list-group-item {% if request.path == '/android/Browsers'%} active {% endif %}">Browsers</a>
                            <a class="list-group-item {% if request.path == '/android/Security & Privacy'%} active {% endif %}">Security
                                & Privacy</a>
                            <a class="list-group-item {% if request.path == '/android/Business & Productivity'%} active {% endif %}">Business
                                & Productivity</a>
                            <a class="list-group-item {% if request.path == '/android/Internet & Network'%} active {% endif %}">Internet
                                & Network</a>
                            <a class="list-group-item {% if request.path == '/android/Multimedia'%} active {% endif %}">Multimedia</a>
                            <a class="list-group-item {% if request.path == '/android/Development & IT'%} active {% endif %}">Development
                                & IT</a>
                            <a class="list-group-item {% if request.path == '/android/Education & Reference'%} active {% endif %}">Education
                                & Reference</a>
                            <a class="list-group-item {% if request.path == '/android/Lifestyle'%} active {% endif %}">Lifestyle</a>
                            <a class="list-group-item {% if request.path == '/android/Personalization'%} active {% endif %}">Personalization</a>
                            <a class="list-group-item {% if request.path == '/android/Social & Communication'%} active {% endif %}">Social
                                & Communication</a>
                            <a class="list-group-item {% if request.path == '/android/Travel & Navigation<'%} active {% endif %}">Travel
                                & Navigation</a>
                            <a class="list-group-item {% if request.path == '/android/Utilities & Tools'%} active {% endif %}">Utilities
                                & Tools</a>
                        </div>
                    </div>
                </div>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasSubCategory"
                     aria-labelledby="offcanvasSubCategoryLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasSubCategoryLabel">
                            {{category}} sub categories
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="list-group list-group-flush">
                            <a href="/android/Games/Action"
                               class="list-group-item {% if request.path == '/android/Games/Action'%} active {% endif %}"
                               aria-current="true">Action</a>
                            <a href="/android/Games/Adventure"
                               class="list-group-item {% if request.path == '/android/Games/Adventure'%} active {% endif %}">Adventure</a>
                            <a class="list-group-item {% if request.path == '/android/Browsers'%} active {% endif %}">Arcade</a>
                            <a class="list-group-item {% if request.path == '/android/Security & Privacy'%} active {% endif %}">Board</a>
                            <a class="list-group-item {% if request.path == '/android/Business & Productivity'%} active {% endif %}">Card</a>
                            <a class="list-group-item {% if request.path == '/android/Internet & Network'%} active {% endif %}">Casino</a>
                            <a class="list-group-item {% if request.path == '/android/Multimedia'%} active {% endif %}">Educational</a>
                            <a class="list-group-item {% if request.path == '/android/Development & IT'%} active {% endif %}">Family</a>
                            <a class="list-group-item {% if request.path == '/android/Education & Reference'%} active {% endif %}">Music</a>
                            <a class="list-group-item {% if request.path == '/android/Lifestyle'%} active {% endif %}">Puzzle</a>
                            <a class="list-group-item {% if request.path == '/android/Personalization'%} active {% endif %}">Racing</a>
                            <a class="list-group-item {% if request.path == '/android/Social & Communication'%} active {% endif %}">Role
                                Playing</a>
                            <a class="list-group-item {% if request.path == '/android/Travel & Navigation'%} active {% endif %}">Simulation</a>
                            <a class="list-group-item {% if request.path == '/android/Utilities & Tools'%} active {% endif %}">Sports</a>
                            <a class="list-group-item {% if request.path == '/android/Utilities & Tools'%} active {% endif %}">Strategy</a>
                            <a class="list-group-item {% if request.path == '/android/Utilities & Tools'%} active {% endif %}">Trivia</a>
                            <a class="list-group-item {% if request.path == '/android/Utilities & Tools'%} active {% endif %}">Utilities</a>
                            <a class="list-group-item {% if request.path == '/android/Utilities & Tools'%} active {% endif %}">Word</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <h5 class="mt-3">All Apps</h5>
                    <div class="row g-2">
                        {% for app in current_category %}
                        <div class="col-lg-3">
                            <div class="card">
                                <img src="{{ app.image_url }}" class="card-img-top p-5" alt="...">
                                <div class="card-body">
                                    <h6 class="card-title text-truncate">{{ app.name }}</h6>
                                    <p class="card-text text-truncate">{{ app.title }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="text-center mb-3">
                    <a class="btn btn-outline-dark mt-3 px-5" href="#">More Apps</a>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Recommended articles</h4>
                <div class="row">
                    <div class="col-12 mt-2">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Article</p>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="card-text text-decoration-none"><small class="text-body-secondary">Read
                                    more</small></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Article</p>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="card-text text-decoration-none"><small class="text-body-secondary">Read
                                    more</small></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Article</p>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="card-text text-decoration-none"><small class="text-body-secondary">Read
                                    more</small></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Article</p>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="card-text text-decoration-none"><small class="text-body-secondary">Read
                                    more</small></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Article</p>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="card-text text-decoration-none"><small class="text-body-secondary">Read
                                    more</small></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a class="btn btn-outline-dark mt-3" href="#">Read more stories</a>
                </div>
            </div>
        </div>
        <div class="row">
            <section class="pt-5 mb-5">
                <div class="container">
                    <h4 class="mb-4">Top download</h4>
                    <div class="card border-0">
                        <div class="card-body text-center">
                            <div>
                                <table class="table table-hover">
                                    <tbody>

                                    {% for app in current_category | sort(attribute='download_count', reverse=true) %}
                                    <tr>
                                        <th scope="row">{{ loop.index }}</th>
                                        <td>
                                            <img alt="{{app.name}}"
                                                 class="pe-2"
                                                 src="{{ app.image_url }}"
                                                 width="50">
                                            {{app.name}}
                                        </td>
                                        <td class="d-none d-lg-table-cell">{{ app.download_count }} Downloads</td>
                                        <td>
                                            <button class="btn btn-success" type="button">
                                                <svg class="bi bi-download" fill="currentColor" height="16"
                                                     viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                                </svg>
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <a class="btn btn-outline-dark mt-3 px-5" href="#">View all</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>


{% include 'footer.html' %}
