{% include 'base.html' %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h2>
                    {% if request.path == '/android/'%}
                    Android Apps
                    {% elif request.path == '/windows/' %}
                    Windows Apps
                    {% elif request.path == '/mac/' %}
                    Mac Apps
                    {% elif request.path == '/iphone/' %}
                    Iphone Apps
                    {% elif request.path == '/console-game/' %}
                    Console Game
                    {% else%}
                    GOG Apps
                    {% endif%}
                </h2>
                <div class="border-top border-bottom mb-3 mt-3"><a class="btn dropdown-toggle"
                                                                   data-bs-toggle="offcanvas" href="#offcanvasCategory"
                                                                   role="button"
                                                                   aria-controls="offcanvasCategory">
                    Categories
                </a>
                    {% if user != None%}
                    <a class="btn" href=
                            {% if request.path == '/android/'%}
                            "/android/add-android-apps/"
                            {% elif request.path == '/windows/' %}
                            "/windows/add-window-apps/"
                            {% elif request.path == '/mac/' %}
                            "/mac/add-mac-apps/"
                            {% elif request.path == '/iphone/' %}
                            "/iphone/add-iphone-apps/"
                            {% elif request.path == '/console-game/' %}
                            "/console-game/add-console-game/"
                            {% else%}
                            "/gog-game/add-gog-game/"
                            {% endif%}
                    role="button">
                    Add new app
                    </a>
                    {% endif %}
                </div>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCategory"
                     aria-labelledby="offcanvasCategoryLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasCategoryLabel">
                            Categories
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="list-group list-group-flush">
                            <a href={% if request.path == '/android/'%}
                            "/android/games"
                            {% elif request.path == '/windows/' %}
                            "/windows/games"
                            {% elif request.path == '/mac/' %}
                            "/mac/games"
                            {% elif request.path == '/iphone/' %}
                            "/iphone/games"
                            {% elif request.path == '/console-game/' %}
                            "/console-game/games"
                            {% else%}
                            "/gog-game/games/"
                            {% endif%}
                            class="list-group-item">Games</a>
                            <a href={% if request.path == '/android/'%}
                            "/android/ai"
                            {% elif request.path == '/windows/' %}
                            "/windows/ai"
                            {% elif request.path == '/mac/' %}
                            "/mac/ai"
                            {% elif request.path == '/iphone/' %}
                            "/iphone/ai"
                            {% elif request.path == '/console-game/' %}
                            "/console-game/ai"
                            {% else%}
                            "/gog-game/ai"
                            {% endif%}
                                    class="list-group-item ">AI</a>

                            <a href={% if request.path == '/android/'%}
                            "/android/browsers"
                            {% elif request.path == '/windows/' %}
                            "/windows/browsers"
                            {% elif request.path == '/mac/' %}
                            "/mac/browsers"
                            {% elif request.path == '/iphone/' %}
                            "/iphone/browsers"
                            {% elif request.path == '/console-game/' %}
                            "/console-game/browsers"
                            {% else%}
                            "/gog-game/browsers/"
                            {% endif%}
                               class="list-group-item ">Browsers</a>
                            <a href={% if request.path == '/android/'%}
                            "/android/security-privacy"
                            {% elif request.path == '/windows/' %}
                            "/windows/security-privacy""
                            {% elif request.path == '/mac/' %}
                            "/mac/security-privacy""
                            {% elif request.path == '/iphone/' %}
                            "/iphone/security-privacy""
                            {% elif request.path == '/console-game/' %}
                            "/console-game/security-privacy""
                            {% else%}
                            "/gog-game/security-privacy"/"
                            {% endif%}
                                    class="list-group-item ">
                                Security & Privacy
                            </a>
                            <a href={% if request.path == '/android/'%}
                            "/android/business-productivity"
                            {% elif request.path == '/windows/' %}
                            "/windows/business-productivity""
                            {% elif request.path == '/mac/' %}
                            "/mac/business-productivity""
                            {% elif request.path == '/iphone/' %}
                            "/iphone/business-productivity""
                            {% elif request.path == '/console-game/' %}
                            "/console-game/business-productivity""
                            {% else%}
                            "/gog-game/business-productivity"/"
                            {% endif%}
                                    class="list-group-item ">
                                Business & Productivity
                            </a>
                            <a href={% if request.path == '/android/'%}
                            "/android/internet-network"
                            {% elif request.path == '/windows/' %}
                            "/windows/internet-network"
                            {% elif request.path == '/mac/' %}
                            "/mac/internet-network"
                            {% elif request.path == '/iphone/' %}
                            "/iphone/internet-network"
                            {% elif request.path == '/console-game/' %}
                            "/console-game/internet-network"
                            {% else%}
                            "/gog-game/internet-network/"
                            {% endif%}
                                    class="list-group-item ">
                                Internet & Network
                            </a>
                            <a href={% if request.path == '/android/'%}
                            "/android/multimedia"
                            {% elif request.path == '/windows/' %}
                            "/windows/multimedia"
                            {% elif request.path == '/mac/' %}
                            "/mac/multimedia"
                            {% elif request.path == '/iphone/' %}
                            "/iphone/multimedia"
                            {% elif request.path == '/console-game/' %}
                            "/console-game/multimedia"
                            {% else%}
                            "/gog-game/multimedia/"
                            {% endif%}
                                    class="list-group-item ">Multimedia</a>
                            <a href={% if request.path == '/android/'%}
                            "/android/development"
                            {% elif request.path == '/windows/' %}
                            "/windows/development"
                            {% elif request.path == '/mac/' %}
                            "/mac/development"
                            {% elif request.path == '/iphone/' %}
                            "/iphone/development"
                            {% elif request.path == '/console-game/' %}
                            "/console-game/development"
                            {% else%}
                            "/gog-game/development/"
                            {% endif%}
                                    class="list-group-item ">
                            Development & IT
                            </a>
                            <a href={% if request.path == '/android/'%}
                            "/android/education-reference"
                            {% elif request.path == '/windows/' %}
                            "/windows/education-reference"
                            {% elif request.path == '/mac/' %}
                            "/mac/education-reference"
                            {% elif request.path == '/iphone/' %}
                            "/iphone/education-reference"
                            {% elif request.path == '/console-game/' %}
                            "/console-game/education-reference"
                            {% else%}
                            "/gog-game/eduction-reference/"
                            {% endif%}
                                    class="list-group-item ">
                                Education & Reference
                            </a>
                            <a href={% if request.path == '/android/'%}
                            "/android/lifestyle"
                            {% elif request.path == '/windows/' %}
                            "/windows/lifestyle"
                            {% elif request.path == '/mac/' %}
                            "/mac/lifestyle"
                            {% elif request.path == '/iphone/' %}
                            "/iphone/lifestyle"
                            {% elif request.path == '/console-game/' %}
                            "/console-game/lifestyle"
                            {% else%}
                            "/gog-game/lifestyle/"
                            {% endif%}
                                    class="list-group-item ">Lifestyle</a>
                            <a href={% if request.path == '/android/'%}
                            "/android/personalization"
                            {% elif request.path == '/windows/' %}
                            "/windows/personalization"
                            {% elif request.path == '/mac/' %}
                            "/mac/personalization"
                            {% elif request.path == '/iphone/' %}
                            "/iphone/personalization"
                            {% elif request.path == '/console-game/' %}
                            "/console-game/personalization"
                            {% else%}
                            "/gog-game/personalization/"
                            {% endif%}
                                    class="list-group-item ">Personalization</a>
                            <a href={% if request.path == '/android/'%}
                            "/android/social-communication"
                            {% elif request.path == '/windows/' %}
                            "/windows/social-communication"
                            {% elif request.path == '/mac/' %}
                            "/mac/social-communication"
                            {% elif request.path == '/iphone/' %}
                            "/iphone/social-communication"
                            {% elif request.path == '/console-game/' %}
                            "/console-game/social-communication"
                            {% else%}
                            "/gog-game/social-communication/"
                            {% endif%}
                                    class="list-group-item ">
                                Social & Communication
                            </a>
                            <a href={% if request.path == '/android/'%}
                            "/android/travel-navigatioin"
                            {% elif request.path == '/windows/' %}
                            "/windows/travel-navigatioin"
                            {% elif request.path == '/mac/' %}
                            "/mac/travel-navigatioin"
                            {% elif request.path == '/iphone/' %}
                            "/iphone/travel-navigatioin"
                            {% elif request.path == '/console-game/' %}
                            "/console-game/travel-navigatioin"
                            {% else%}
                            "/gog-game/travel-navigatioin/"
                            {% endif%}
                                    class="list-group-item ">
                                Travel & Navigation
                            </a>
                            <a href={% if request.path == '/android/'%}
                            "/android/utilities-tools"
                            {% elif request.path == '/windows/' %}
                            "/windows/utilities-tools"
                            {% elif request.path == '/mac/' %}
                            "/mac/utilities-tools"
                            {% elif request.path == '/iphone/' %}
                            "/iphone/utilities-tools"
                            {% elif request.path == '/console-game/' %}
                            "/console-game/utilities-tools"
                            {% else%}
                            "/gog-game/utilities-tools/"
                            {% endif%}
                                    class="list-group-item">
                                Utilities & Tools
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row d-none d-sm-flex">
                    {% for category, apps in windows_app|groupby('category') %}
                    <div class="col-lg-4 mt-3 mb-3">
                        <div class="card">
                            <div class="card-header">
                                {{ category }}
                            </div>
                            <ul class="list-group list-group-flush">
                                {% for app in apps %}
                                <li class="list-group-item">
                                    <a class="text-decoration-none"
                                       href="/android/software/{{ app.name|replace(' ', '-') }}">

                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <img src="{{ app.image_url }}" class="img-fluid" width="55" height="55"
                                                     alt="{{ app.name }}">
                                            </div>
                                            <div class="col">
                                                <p class="text-black">{{ app.name }}</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="card-footer">
                                <a href="/android/{{ category|replace(' ','-') }}/"
                                   class="card-link text-decoration-none">see all</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row flex-nowrap overflow-x-scroll hide-horizontal-scrollbar d-lg-none">

                    {% for category, apps in windows_app|groupby('category') %}
                    <div class="col-lg-4 mt-3 mb-3">
                        <div class="card">
                            <div class="card-header">
                                {{ category }}
                            </div>
                            <ul class="list-group list-group-flush">
                                {% for app in apps %}
                                <li class="list-group-item">
                                    <a class="text-decoration-none"
                                       href="/android/software/{{ app.name|replace(' ', '-') }}">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <img src="{{ app.image_url }}" class="img-fluid rounded" width="55"
                                                     height="55" alt="{{ app.name }}">
                                            </div>
                                            <div class="col">

                                                <p class="text-black">{{ app.name }}</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="card-footer">
                                <a href="/android/{{ category|replace(' ','-') }}/"
                                   class="card-link text-decoration-none">see all</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="col">
                    <h5 class="pb-2">All Apps</h5>
                    <span>
                        <small>
                            {% if request.path == '/android/'%}
                            for android
                            {% elif request.path == '/windows/' %}
                            for windows
                            {% elif request.path == '/mac/' %}
                            for mac
                            {% elif request.path == '/iphone/' %}
                            for iphone
                            {% elif request.path == '/console-game/' %}
                            for console game
                            {% else%}
                            for gog game
                            {% endif%}
                        </small>
                    </span>
                    <div class="row g-2">
                        {% for app in windows_app %}
                        <div class="col-lg-3">
                            <a class="text-decoration-none" href={% if request.path == '/android/'%}
                             "/android/software/{{ app.name|replace(' ', '-') }}"
                            {% elif request.path == '/windows/' %}
                            "/windows/software/{{ app.name|replace(' ', '-') }}"
                            {% elif request.path == '/mac/' %}
                            "/mac/software/{{ app.name|replace(' ', '-') }}"
                            {% elif request.path == '/iphone/' %}
                            "/iphone/software/{{ app.name|replace(' ', '-') }}"
                            {% elif request.path == '/console-game/' %}
                            "/console-game/software/{{ app.name|replace(' ', '-') }}"
                            {% else%}
                            "/gog-game/software/{{ app.name|replace(' ', '-') }}"
                            {% endif%} >
                                <div class="card">
                                    <img src="{{ app.image_url }}" class="card-img-top p-5" alt="...">
                                    <div class="card-body">
                                        <h6 class="card-title text-truncate">{{ app.name }}</h6>
                                        <p class="card-text text-truncate">{{ app.title }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="text-center mb-3">
                    <a class="btn btn-outline-dark mt-3 px-5" href="/android/all-apps">More Apps</a>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Recommended articles</h4>
                <div class="row">
                    <div class="col-12 mt-2">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Article</p>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="card-text text-decoration-none"><small class="text-body-secondary">Read
                                    more</small></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Article</p>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="card-text text-decoration-none"><small class="text-body-secondary">Read
                                    more</small></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Article</p>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="card-text text-decoration-none"><small class="text-body-secondary">Read
                                    more</small></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Article</p>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="card-text text-decoration-none"><small class="text-body-secondary">Read
                                    more</small></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Article</p>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="card-text text-decoration-none"><small class="text-body-secondary">Read
                                    more</small></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a class="btn btn-outline-dark mt-3" href="#">Read more stories</a>
                </div>
            </div>
        </div>
        <div class="row">
            <section class="pt-5 mb-5">
                <div class="container">
                    <h4 class="mb-4">Top download</h4>
                    <div class="card border-0">
                        <div class="card-body text-center">
                            <div>
                                <table class="table table-hover">
                                    <tbody>

                                    {% for app in windows_app | sort(attribute='download_count', reverse=true) %}
                                    <tr>
                                        <th scope="row">{{ loop.index }}</th>
                                        <td>
                                            <a class="text-decoration-none text-dark"
                                               href="/windows/software/{{ app.name|replace(' ', '-') }}">
                                                <img alt="{{app.name}}"
                                                     class="pe-2"
                                                     src="{{ app.image_url }}"
                                                     width="50">
                                                {{app.name}}
                                            </a>
                                        </td>
                                        <td class="d-none d-lg-table-cell">{{ app.download_count }} Downloads</td>
                                        <td>
                                                <a href="/windows/software/{{ app.name|replace(' ', '-') }}" class="btn btn-success" type="button">
                                                    <svg class="bi bi-download" fill="currentColor" height="16"
                                                         viewBox="0 0 16 16" width="16"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                                    </svg>
                                                </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <a class="btn btn-outline-dark mt-3 px-5" href="/android/top-downloads">View all</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>


{% include 'footer.html' %}
