<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <title>Freeware Magic</title>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', path='/freewaremagic/css/base.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', path='/freewaremagic/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', path='/freewaremagic/css/tab.css')}}">
</head>
<body>

{% include 'navbar.html' %}

{% block content %}

{% endblock%}


<script src="{{url_for('static', path='freewaremagic/js/popper.min.js')}}"></script>
<script src="{{url_for('static', path='freewaremagic/js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>