<footer class="bg-dark text-light pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <h2><a href="/" class="text-light text-decoration-none">Freeware Magic</a></h2>
            </div>
            <div class="col-lg-3 mb-3">
                <h4>About Us</h4>
                <ul class="list-group">
                    <li class="list-unstyled"><a class="text-decoration-none text-white-50" href="/contact">Freeware-Magic
                        info</a></li>
                    <li class="list-unstyled"><a class="text-decoration-none text-white-50" href="/contact">Help & Support</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 mb-3">
                <h4>Legal</h4>
                <ul class="list-group">
                    <li class="list-unstyled"><a class="text-decoration-none text-white-50" href="#">Legal
                        Information</a></li>
                    <li class="list-unstyled"><a class="text-decoration-none text-white-50" href="/terms-of-use">Term of use</a>
                    </li>
                    <li class="list-unstyled"><a class="text-decoration-none text-white-50" href="/privacy-policy">Privacy Policy</a>
                    </li>
                    <li class="list-unstyled"><a class="text-decoration-none text-white-50" href="/cookie-policy">Cookie Policy</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 mb-3">
                <h4>Social media</h4>
                <ul class="list-group">
                    <li class="list-unstyled"><a class="text-decoration-none text-white-50" href="#">Facebook</a></li>
                    <li class="list-unstyled"><a class="text-decoration-none text-white-50" href="#">Twitter / X</a>
                    </li>
                    <li class="list-unstyled"><a class="text-decoration-none text-white-50" href="#">Instagram</a></li>
                </ul>
            </div>
        </div>
        <div class=" text-center p-5">
            <p class="lead">Copyright FREEWARE-MAGIC © 2022–2023 — All rights reserved</p>
        </div>
    </div>
</footer>