<header>
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container">
            <div class="row">
                <div class="col">
                    <button aria-controls="offcanvasNavbar" aria-label="Toggle navigation" class="navbar-toggler"
                            data-bs-target="#offcanvasNavbar"
                            data-bs-toggle="offcanvas" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="col">
                    <a class="navbar-brand mx-4 d-flex" href="/">
                        Freeware Magic
                    </a>
                </div>
            </div>
<!--            TODO: Work on the side menu navigation link continue from Browsers-->
            <div class="d-none d-md-block">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 flex-row">
                    <li class="nav-item">
                        <a {% if request.path== '/android/' %} aria-current="page" {% endif %} class="nav-link me-3 {%
                        if request.path == '/android/'%} active {% endif %}" href="/android">Apps</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link me-3" href="#">Games</a>
                    </li>
                    <li class="nav-item me-3">
                        <a {% if request.path== '/articles/' %} aria-current="page" {% endif %} class="nav-link {% if
                        request.path == '/articles/'%} active {% endif %}" href="/articles">Articles</a>
                    </li>
                    {% if user != None%}
                    <li class="nav-item me-3">
                        <a class="nav-link" href="/auth/logout">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!--      Games-->
            <!--      AI-->
            <!--      Browsers-->
            <!--      Security and Privacy-->
            <!--      Business&Productivty-->
            <!--      Internet and Network-->
            <!--      Multimedia-->
            <!--      Development and IT-->
            <!--      Education and Reference-->
            <!--      Lifestyle-->
            <!--      Personalization-->
            <!--      Social and Communication-->
            <!--      Travel and Navigation-->
            <!--      Utilities and Tools-->
            <div aria-labelledby="offcanvasNavbarLabel" class="offcanvas offcanvas-start" id="offcanvasNavbar"
                 tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Freeware Magic</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="offcanvas" type="button"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="navbar-nav list-group list-group-flush">

                            <a aria-current="page" class="nav-link btn bg-dark text-light mb-1" href="/articles">News or
                                Article</a>

                            <a aria-controls="offcanvasApps" class="nav-link btn bg-dark text-light mb-1" data-bs-toggle="offcanvas" href="#offcanvasApps">Apps</a>

                            <a aria-controls="offcanvasGame" class="nav-link list-group-item list-group-item-action" data-bs-toggle="offcanvas"
                               href="#offcanvasGame">
                                Games
                            </a>

                            <a aria-controls="offcanvasAI" class="nav-link list-group-item list-group-item-action" data-bs-toggle="offcanvas"
                               href="#offcanvasAI"
                               role="button">
                                AI
                            </a>

                            <a aria-controls="offcanvasBrowsers" class="nav-link list-group-item list-group-item-action" data-bs-toggle="offcanvas"
                               href="#offcanvasBrowsers">Browsers</a>

                            <a aria-controls="offcanvasSecurityPrivacy" class="nav-link list-group-item list-group-item-action" data-bs-toggle="offcanvas"
                               href="#offcanvasSecurityPrivacy">Security & Privacy</a>

                            <a aria-controls="offcanvasBusinessProductivty" class="nav-link list-group-item list-group-item-action" data-bs-toggle="offcanvas"
                               href="#offcanvasBusinessProductivty">Business & Productivty</a>

                            <a aria-controls="offcanvasInternetNetwork" class="nav-link list-group-item list-group-item-action" data-bs-toggle="offcanvas"
                               href="#offcanvasInternetNetwork">Internet & Network</a>

                            <a aria-controls="offcanvasMultimedia" class="nav-link list-group-item list-group-item-action" data-bs-toggle="offcanvas"
                               href="#offcanvasMultimedia">Multimedia</a>

                            <a aria-controls="offcanvasDevelopmentIT" class="nav-link list-group-item list-group-item-action" data-bs-toggle="offcanvas"
                               href="#offcanvasDevelopmentIT">Development & IT</a>

                            <a aria-controls="offcanvasEducationReference" class="nav-link list-group-item list-group-item-action" data-bs-toggle="offcanvas"
                               href="#offcanvasEducationReference">Education & Reference</a>

                            <a aria-controls="offcanvasLifestyle" class="nav-link list-group-item list-group-item-action" data-bs-toggle="offcanvas"
                               href="#offcanvasLifestyle">Lifestyle</a>

                            <a aria-controls="offcanvasPersonalization" class="nav-link list-group-item list-group-item-action" data-bs-toggle="offcanvas"
                               href="#offcanvasPersonalization">Personalization</a>

                            <a aria-controls="offcanvasSocialCommunication" class="nav-link list-group-item list-group-item-action" data-bs-toggle="offcanvas"
                               href="#offcanvasSocialCommunication">Social & Communication</a>

                            <a aria-controls="offcanvasTravelNavigation" class="nav-link list-group-item list-group-item-action" data-bs-toggle="offcanvas"
                               href="#offcanvasTravelNavigation">Travel & Navigation</a>

                            <a aria-controls="offcanvasUtilitiesTools" class="nav-link list-group-item list-group-item-action" data-bs-toggle="offcanvas"
                               href="#offcanvasUtilitiesTools">Utilities & Tools</a>

                    </div>
                </div>
            </div>


            <!-- Apps -->
            <div aria-labelledby="offcanvasAppsLabel" class="offcanvas offcanvas-start" id="offcanvasApps"
                 tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasAppsLabel">Select OS</h5>
                    <svg aria-label="Close" data-bs-target="#offcanvasNavbar" data-bs-toggle="offcanvas"
                         fill="currentColor"
                         height="16" viewBox="0 0 16 16" width="16"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                              fill-rule="evenodd"/>
                    </svg>
                </div>
                <div class="offcanvas-body">
                    <div>
                       <div class="list-group list-group-flush">
                            <a href="/android" class="list-group-item list-group-item-action">Android</a>
                           <a href="/windows" class="list-group-item list-group-item-action">Windows</a>
                           <a href="/mac" class="list-group-item list-group-item-action">Mac</a>
                           <a href="/iphone" class="list-group-item list-group-item-action">IPhone</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Games select os-->
            <div aria-labelledby="offcanvasGameLabel" class="offcanvas offcanvas-start" id="offcanvasGame"
                 tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasGameLabel">Games: Select OS</h5>
                    <svg aria-label="Close" data-bs-target="#offcanvasNavbar" data-bs-toggle="offcanvas"
                         fill="currentColor"
                         height="16" viewBox="0 0 16 16" width="16"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                              fill-rule="evenodd"/>
                    </svg>
                </div>
                <div class="offcanvas-body">
                    <div>
                       <div class="list-group list-group-flush">
                            <a href="#offcanvasGamesAndroid" class="list-group-item list-group-item-action" aria-controls="offcanvasGamesAndroid" data-bs-toggle="offcanvas">Android</a>
                           <a href="#offcanvasGamesWindows" class="list-group-item list-group-item-action" aria-controls="offcanvasGamesWindows" data-bs-toggle="offcanvas">Windows</a>
                           <a href="#offcanvasGamesMac" class="list-group-item list-group-item-action" aria-controls="offcanvasGamesMac" data-bs-toggle="offcanvas">Mac</a>
                           <a href="#offcanvasGamesIphone" class="list-group-item list-group-item-action" aria-controls="offcanvasGames" data-bs-toggle="offcanvas">Iphone</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- AI select os-->
            <div aria-labelledby="offcanvasAILabel" class="offcanvas offcanvas-start" id="offcanvasAI"
                 tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasAILabel">AI: Select OS</h5>
                    <svg aria-label="Close" data-bs-target="#offcanvasNavbar" data-bs-toggle="offcanvas"
                         fill="currentColor"
                         height="16" viewBox="0 0 16 16" width="16"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                              fill-rule="evenodd"/>
                    </svg>
                </div>
                <div class="offcanvas-body">
                    <div>
                       <div class="list-group list-group-flush">
                            <a href="#offcanvasAIAndroid" class="list-group-item list-group-item-action" aria-controls="offcanvasAIAndroid" data-bs-toggle="offcanvas">Android</a>
                           <a href="#offcanvasAIWindows" class="list-group-item list-group-item-action" aria-controls="offcanvasAIWindows" data-bs-toggle="offcanvas">Windows</a>
                           <a href="#offcanvasAIMac" class="list-group-item list-group-item-action" aria-controls="offcanvasAIMac" data-bs-toggle="offcanvas">Mac</a>
                           <a href="#offcanvasAIIphone" class="list-group-item list-group-item-action" aria-controls="offcanvasAIIphone" data-bs-toggle="offcanvas">Iphone</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Browsers select os-->
            <div aria-labelledby="offcanvasBrowsersLabel" class="offcanvas offcanvas-start" id="offcanvasBrowsers"
                 tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasBrowsersLabel">Browsers: Select OS</h5>
                    <svg aria-label="Close" data-bs-target="#offcanvasNavbar" data-bs-toggle="offcanvas"
                         fill="currentColor"
                         height="16" viewBox="0 0 16 16" width="16"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                              fill-rule="evenodd"/>
                    </svg>
                </div>
                <div class="offcanvas-body">
                    <div>
                       <div class="list-group list-group-flush">
                            <a href="#offcanvasBrowsersAndroid" class="list-group-item list-group-item-action" aria-controls="offcanvasBrowsersAndroid" data-bs-toggle="offcanvas">Android</a>
                           <a href="#offcanvasBrowsersWindows" class="list-group-item list-group-item-action" aria-controls="offcanvasBrowsersWindows" data-bs-toggle="offcanvas">Windows</a>
                           <a href="#offcanvasBrowsersMac" class="list-group-item list-group-item-action" aria-controls="offcanvasBrowsersMac" data-bs-toggle="offcanvas">Mac</a>
                           <a href="#offcanvasBrowsersIphone" class="list-group-item list-group-item-action" aria-controls="offcanvasBrowsersIphone" data-bs-toggle="offcanvas">Iphone</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Security and Privacy os-->
            <div aria-labelledby="offcanvasSecurityPrivacyLabel" class="offcanvas offcanvas-start" id="offcanvasSecurityPrivacy"
                 tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasSecurityPrivacyLabel">Security & Privacy: Select OS</h5>
                    <svg aria-label="Close" data-bs-target="#offcanvasNavbar" data-bs-toggle="offcanvas"
                         fill="currentColor"
                         height="16" viewBox="0 0 16 16" width="16"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                              fill-rule="evenodd"/>
                    </svg>
                </div>
                <div class="offcanvas-body">
                    <div>
                       <div class="list-group list-group-flush">
                            <a href="#offcanvasSecurityPrivacyAndroid" class="list-group-item list-group-item-action" aria-controls="offcanvasSecurityPrivacyAndroid" data-bs-toggle="offcanvas">Android</a>
                           <a href="#offcanvasSecurityPrivacyWindows" class="list-group-item list-group-item-action" aria-controls="offcanvasSecurityPrivacyWindows" data-bs-toggle="offcanvas">Windows</a>
                           <a href="#offcanvasSecurityPrivacyMac" class="list-group-item list-group-item-action" aria-controls="offcanvasSecurityPrivacyMac" data-bs-toggle="offcanvas">Mac</a>
                           <a href="#offcanvasSecurityPrivacyIphone" class="list-group-item list-group-item-action" aria-controls="offcanvasSecurityPrivacyIphone" data-bs-toggle="offcanvas">Iphone</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Games category android-->
            <div aria-labelledby="offcanvasGamesAndroidLabel" class="offcanvas offcanvas-start" id="offcanvasGamesAndroid"
                 tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasGamesAndroidLabel">Games Android</h5>
                    <svg aria-label="Close" data-bs-target="#offcanvasGame" data-bs-toggle="offcanvas"
                         fill="currentColor"
                         height="16" viewBox="0 0 16 16" width="16"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                              fill-rule="evenodd"/>
                    </svg>
                </div>
                <div class="offcanvas-body">
                    <a href="/android/Games">All Games</a>
                </div>
            </div>

            <!-- Games category windows-->
            <div aria-labelledby="offcanvasGamesWindowsLabel" class="offcanvas offcanvas-start" id="offcanvasGamesWindows"
                 tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasGamesWindowsLabel">Games Windows</h5>
                    <svg aria-label="Close" data-bs-target="#offcanvasGame" data-bs-toggle="offcanvas"
                         fill="currentColor"
                         height="16" viewBox="0 0 16 16" width="16"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                              fill-rule="evenodd"/>
                    </svg>
                </div>
                <div class="offcanvas-body">

                </div>
            </div>

            <!-- Games category mac-->
            <div aria-labelledby="offcanvasGamesMacLabel" class="offcanvas offcanvas-start" id="offcanvasGamesMac"
                 tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasGamesMacLabel">Games Mac</h5>
                    <svg aria-label="Close" data-bs-target="#offcanvasGame" data-bs-toggle="offcanvas"
                         fill="currentColor"
                         height="16" viewBox="0 0 16 16" width="16"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                              fill-rule="evenodd"/>
                    </svg>
                </div>
                <div class="offcanvas-body">

                </div>
            </div>

            <!-- Games category iphone-->
            <div aria-labelledby="offcanvasGamesIphoneLabel" class="offcanvas offcanvas-start" id="offcanvasGamesIphone"
                 tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasGamesIphoneLabel">Games Iphone</h5>
                    <svg aria-label="Close" data-bs-target="#offcanvasGame" data-bs-toggle="offcanvas"
                         fill="currentColor"
                         height="16" viewBox="0 0 16 16" width="16"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                              fill-rule="evenodd"/>
                    </svg>
                </div>
                <div class="offcanvas-body">

                </div>
            </div>


            <!-- AI Android -->
            <div aria-labelledby="offcanvasAIAndroidLabel" class="offcanvas offcanvas-start" id="offcanvasAIAndroid" tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasAIAndroidLabel">AI Android</h5>
                    <svg aria-label="Close" data-bs-target="#offcanvasAI" data-bs-toggle="offcanvas"
                         fill="currentColor"
                         height="16" viewBox="0 0 16 16" width="16"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                              fill-rule="evenodd"/>
                    </svg>
                </div>
                <div class="offcanvas-body">

                </div>
            </div>
            <!-- AI Windows -->
            <div aria-labelledby="offcanvasAIWindowsLabel" class="offcanvas offcanvas-start" id="offcanvasAIWindows" tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasAIWindowsLabel">AI Windows</h5>
                    <svg aria-label="Close" data-bs-target="#offcanvasAI" data-bs-toggle="offcanvas"
                         fill="currentColor"
                         height="16" viewBox="0 0 16 16" width="16"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                              fill-rule="evenodd"/>
                    </svg>
                </div>
                <div class="offcanvas-body">

                </div>
            </div>
            <!-- AI Mac -->
            <div aria-labelledby="offcanvasAIMacLabel" class="offcanvas offcanvas-start" id="offcanvasAIMac" tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasAIMacLabel">AI Mac</h5>
                    <svg aria-label="Close" data-bs-target="#offcanvasAI" data-bs-toggle="offcanvas"
                         fill="currentColor"
                         height="16" viewBox="0 0 16 16" width="16"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                              fill-rule="evenodd"/>
                    </svg>
                </div>
                <div class="offcanvas-body">

                </div>
            </div>
            <!-- AI Iphone -->
            <div aria-labelledby="offcanvasAIIphoneLabel" class="offcanvas offcanvas-start" id="offcanvasAIIphone" tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasAIIphoneLabel">AI Iphone</h5>
                    <svg aria-label="Close" data-bs-target="#offcanvasAI" data-bs-toggle="offcanvas"
                         fill="currentColor"
                         height="16" viewBox="0 0 16 16" width="16"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                              fill-rule="evenodd"/>
                    </svg>
                </div>
                <div class="offcanvas-body">

                </div>
            </div>

            <!--Browsers Android-->
            <div aria-labelledby="offcanvasBrowsersAndroidLabel" class="offcanvas offcanvas-start" id="offcanvasBrowsersAndroid" tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasBrowsersAndroidLabel">Browser Android</h5>
                    <svg aria-label="Close" data-bs-target="#offcanvasBrowsers" data-bs-toggle="offcanvas"
                         fill="currentColor"
                         height="16" viewBox="0 0 16 16" width="16"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                              fill-rule="evenodd"/>
                    </svg>
                </div>
                <div class="offcanvas-body">

                </div>
            </div>
            <!--Browsers Windows-->
            <div aria-labelledby="offcanvasBrowsersWindowsLabel" class="offcanvas offcanvas-start" id="offcanvasBrowsersWindows" tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasBrowsersWindowsLabel">Browser Windows</h5>
                    <svg aria-label="Close" data-bs-target="#offcanvasBrowsers" data-bs-toggle="offcanvas"
                         fill="currentColor"
                         height="16" viewBox="0 0 16 16" width="16"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                              fill-rule="evenodd"/>
                    </svg>
                </div>
                <div class="offcanvas-body">

                </div>
            </div>

            <!--Security Privacy Android-->
            <div aria-labelledby="offcanvasSecurityPrivacyAndroidLabel" class="offcanvas offcanvas-start" id="offcanvasSecurityPrivacyAndroid" tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasSecurityPrivacyAndroidLabel">Security Android</h5>
                    <svg aria-label="Close" data-bs-target="#offcanvasBrowsers" data-bs-toggle="offcanvas"
                         fill="currentColor"
                         height="16" viewBox="0 0 16 16" width="16"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                              fill-rule="evenodd"/>
                    </svg>
                </div>
                <div class="offcanvas-body">

                </div>
            </div>
            <!--Security Privacy Windows-->
            <div aria-labelledby="offcanvasSecurityPrivacyWindowsLabel" class="offcanvas offcanvas-start" id="offcanvasSecurityPrivacyWindows" tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasSecurityPrivacyWindowsLabel">Security Windows</h5>
                    <svg aria-label="Close" data-bs-target="#offcanvasBrowsers" data-bs-toggle="offcanvas"
                         fill="currentColor"
                         height="16" viewBox="0 0 16 16" width="16"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                              fill-rule="evenodd"/>
                    </svg>
                </div>
                <div class="offcanvas-body">

                </div>
            </div>


            <!--      Business & Productivty-->
            <div aria-labelledby="offcanvasBusinessProductivty" class="offcanvas offcanvas-start"
                 id="offcanvasBusinessProductivty"
                 tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasBusinessProductivtyLabel">Business & Productivity</h5>
                    <button aria-label="Close" class="btn-close" data-bs-target="#offcanvasNavbar"
                            data-bs-toggle="offcanvas"
                            type="button"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        Some text as placeholder. In real life you can have the elements you have chosen. Like, text,
                        images, lists, etc.
                    </div>
                </div>
            </div>
            <!--      Internet and Network-->
            <div aria-labelledby="offcanvasInternetNetwork" class="offcanvas offcanvas-start"
                 id="offcanvasInternetNetwork"
                 tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasInternetNetworkLabel">Internet & Network</h5>
                    <button aria-label="Close" class="btn-close" data-bs-target="#offcanvasNavbar"
                            data-bs-toggle="offcanvas"
                            type="button"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        Some text as placeholder. In real life you can have the elements you have chosen. Like, text,
                        images, lists, etc.
                    </div>
                </div>
            </div>
            <!--      Multimedia-->
            <div aria-labelledby="offcanvasMultimedia" class="offcanvas offcanvas-start" id="offcanvasMultimedia"
                 tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasMultimediaLabel">Multimedia</h5>
                    <button aria-label="Close" class="btn-close" data-bs-target="#offcanvasNavbar"
                            data-bs-toggle="offcanvas"
                            type="button"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        Some text as placeholder. In real life you can have the elements you have chosen. Like, text,
                        images, lists, etc.
                    </div>
                </div>
            </div>
            <!--      Development and IT-->
            <div aria-labelledby="offcanvasDevelopmentIT" class="offcanvas offcanvas-start" id="offcanvasDevelopmentIT"
                 tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDevelopmentITLabel">Development and IT</h5>
                    <button aria-label="Close" class="btn-close" data-bs-target="#offcanvasNavbar"
                            data-bs-toggle="offcanvas"
                            type="button"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        Some text as placeholder. In real life you can have the elements you have chosen. Like, text,
                        images, lists, etc.
                    </div>
                </div>
            </div>
            <!--      Education and Reference-->
            <div aria-labelledby="offcanvasEducationReference" class="offcanvas offcanvas-start"
                 id="offcanvasEducationReference"
                 tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasEducationReferenceLabel">Education and Reference</h5>
                    <button aria-label="Close" class="btn-close" data-bs-target="#offcanvasNavbar"
                            data-bs-toggle="offcanvas"
                            type="button"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        Some text as placeholder. In real life you can have the elements you have chosen. Like, text,
                        images, lists, etc.
                    </div>
                </div>
            </div>
            <!--      Lifestyle-->
            <div aria-labelledby="offcanvasLifestyle" class="offcanvas offcanvas-start" id="offcanvasLifestyle"
                 tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasLifestyleLabel">Lifestyle</h5>
                    <button aria-label="Close" class="btn-close" data-bs-target="#offcanvasNavbar"
                            data-bs-toggle="offcanvas"
                            type="button"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        Some text as placeholder. In real life you can have the elements you have chosen. Like, text,
                        images, lists, etc.
                    </div>
                </div>
            </div>
            <!--      Personalization-->
            <div aria-labelledby="offcanvasPersonalization" class="offcanvas offcanvas-start"
                 id="offcanvasPersonalization"
                 tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasPersonalizationLabel">Personalization</h5>
                    <button aria-label="Close" class="btn-close" data-bs-target="#offcanvasNavbar"
                            data-bs-toggle="offcanvas"
                            type="button"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        Some text as placeholder. In real life you can have the elements you have chosen. Like, text,
                        images, lists, etc.
                    </div>
                </div>
            </div>
            <!--      Social and Communication-->
            <div aria-labelledby="offcanvasSocialCommunication" class="offcanvas offcanvas-start"
                 id="offcanvasSocialCommunication"
                 tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasSocialCommunicationLabel">Social & Communication</h5>
                    <button aria-label="Close" class="btn-close" data-bs-target="#offcanvasNavbar"
                            data-bs-toggle="offcanvas"
                            type="button"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        Some text as placeholder. In real life you can have the elements you have chosen. Like, text,
                        images, lists, etc.
                    </div>
                </div>
            </div>
            <!--      Travel and Navigation-->
            <div aria-labelledby="offcanvasTravelNavigation" class="offcanvas offcanvas-start"
                 id="offcanvasTravelNavigation"
                 tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTravelNavigationLabel">Travel & Navigation</h5>
                    <button aria-label="Close" class="btn-close" data-bs-target="#offcanvasNavbar"
                            data-bs-toggle="offcanvas"
                            type="button"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        Some text as placeholder. In real life you can have the elements you have chosen. Like, text,
                        images, lists, etc.
                    </div>
                </div>
            </div>
            <!--      Utilities and Tools-->
            <div aria-labelledby="offcanvasUtilitiesTools" class="offcanvas offcanvas-start"
                 id="offcanvasUtilitiesTools"
                 tabindex="-1">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasUtilitiesToolsLabel">Utilities & Tools</h5>
                    <button aria-label="Close" class="btn-close" data-bs-target="#offcanvasNavbar"
                            data-bs-toggle="offcanvas"
                            type="button"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        Some text as placeholder. In real life you can have the elements you have chosen. Like, text,
                        images, lists, etc.
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>